<nav class="navbar" role="navigation" aria-label="main navigation">
  <div class="container">
    <div class="navbar-brand">
      <a href="/" class="navbar-item">
        Facultad de Telem&aacute;tica
      </a>

      <a class="navbar-burger burger" aria-label="menu" aria-expanded="false" data-target="navbarMenu">
        <span aria-hidden="true"></span>
        <span aria-hidden="true"></span>
        <span aria-hidden="true"></span>
      </a>
    </div>

    <div class="navbar-menu" id="navbarMenu">
      <div class="navbar-end">
        <a href="/" class="navbar-item">Inicio</a>

        <div class="navbar-item has-dropdown is-hoverable">
          <a class="navbar-link">Facultad</a>
          <div class="navbar-dropdown">
            <a href="/facultad/historia" class="navbar-item">Historia</a>
            <a href="/facultad/contact" class="navbar-item">Contacto</a>
            <a href="/facultad/personal-administrativo" class="navbar-item">Personal Administrativo</a>
            <a href="/facultad/reglamento-uso-laboratorios" class="navbar-item">Reglamento de Uso de Laboratorios</a>
            <a href="/facultad/infraestructura" class="navbar-item">Infraestructura</a>
          </div>
        </div>

        <div class="navbar-item has-dropdown is-hoverable">
          <a class="navbar-link">Oferta Educativa</a>
          <div class="navbar-dropdown">
            <a href="/oferta-educativa/bienvenida" class="navbar-item">Bienvenida</a>
            <a href="/oferta-educativa/ingeniero-tecnologias-internet" class="navbar-item">Ingeniero en Tecnolog&iacute;s de Internet</a>
            <a href="/oferta-educativa/ingeniero-software" class="navbar-item">Ingeniero de Software</a>
            <a href="/oferta-educativa/ingeniero-telematica-liquidacion" class="navbar-item">Ingeniero en Telem&aacute;tica [En liquidaci&oacute;n]</a>
            <a href="/oferta-educativa/ingeniero-software-liquidacion" class="navbar-item">Ingeniero de Software [En liquidaci&oacute;n]</a>
            <a href="/oferta-educativa/maestria-tecnologias-internet" class="navbar-item">Maestr&iacute;a en Tecnolog&iacute;s de Internet</a>
          </div>
        </div>

        <div class="navbar-item has-dropdown is-hoverable">
          <a class="navbar-link">Acad&eacute;mico</a>
          <div class="navbar-dropdown">
            <a href="/academico/docentes" class="navbar-item">Docentes</a>
            <a href="/academico/academias" class="navbar-item">Academias</a>
            <a href="/academico/cuerpos-academicos" class="navbar-item">Cuerpos Acad&eacute;micos</a>
            <a href="/academico/programa/tutoria" class="navbar-item">Programa de Tutor&iacute;a</a>
          </div>
        </div>

        <div class="navbar-item has-dropdown is-hoverable">
          <a class="navbar-link">Rendici&oacute;n de Cuentas</a>
          <div class="navbar-dropdown">
            <a href="/rendicion-cuentas/informe-labores-2015" class="navbar-item">Informe de Labores de 2015</a>
            <a href="/rendicion-cuentas/informe-labores-2016" class="navbar-item">Informe de Labores de 2016</a>
            <a href="/rendicion-cuentas/informe-labores-2017" class="navbar-item">Informe de Labores de 2017</a>
            <a href="/rendicion-cuentas/pide-2018-2021" class="navbar-item">PIDE 2018-2021</a>
          </div>
        </div>

        <a href="/egresados" class="navbar-item">Asociaci&oacute;n de Egresados</a>

      </div>
    </div>
  </div>
</nav>